## Importing libraries and dependencies

In [1]:
# yfinance is where we will pull our data from
import yfinance as yf
# pandas for dealing with DataFrames
import pandas as pd
# numpy for using mathematical functions
import numpy as np
# matplotlib for visualization
import matplotlib.pyplot as plt
# Turning off the warnings
# pd.options.mode.chained_assignment = None
# request library
import requests

## Pulling data for 1 ticker using yfinance

### 1. Getting used to the syntax for downloading data from yfinance

In [2]:
# pulling data of APPL stock from start of 2010 till now
# if we do not put in the end date then by default it would be today's date
Apple = yf.download('AAPL', start = '2010-01-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
# Lets see what data are we getting for APPL stock
# As you can see that the start date in the data is January 04 not 01 it is because of the weekend holidays when the market was close
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544687,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556003,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451720,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439793,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.482608,447610800
...,...,...,...,...,...,...
2022-04-07,171.160004,173.360001,169.850006,172.139999,172.139999,77594700
2022-04-08,171.779999,171.779999,169.199997,170.089996,170.089996,76515900
2022-04-11,168.710007,169.029999,165.500000,165.750000,165.750000,72246700
2022-04-12,168.020004,169.869995,166.639999,167.660004,167.660004,79265200
2022-04-13,167.389999,171.039993,166.779999,170.399994,170.399994,70378252

In [4]:
# reading tickers_spy.csv
tickers = pd.read_csv("tickers_spy.csv")

In [5]:
tickers = tickers.values.tolist()

In [6]:
tickers

[['MMM'],
 ['AOS'],
 ['ABT'],
 ['ABBV'],
 ['ABMD'],
 ['ACN'],
 ['ATVI'],
 ['ADM'],
 ['ADBE'],
 ['ADP'],
 ['AAP'],
 ['AES'],
 ['AFL'],
 ['A'],
 ['AIG'],
 ['APD'],
 ['AKAM'],
 ['ALK'],
 ['ALB'],
 ['ARE'],
 ['ALGN'],
 ['ALLE'],
 ['LNT'],
 ['ALL'],
 ['GOOGL'],
 ['GOOG'],
 ['MO'],
 ['AMZN'],
 ['AMCR'],
 ['AMD'],
 ['AEE'],
 ['AAL'],
 ['AEP'],
 ['AXP'],
 ['AMT'],
 ['AWK'],
 ['AMP'],
 ['ABC'],
 ['AME'],
 ['AMGN'],
 ['APH'],
 ['ADI'],
 ['ANSS'],
 ['ANTM'],
 ['AON'],
 ['APA'],
 ['AAPL'],
 ['AMAT'],
 ['APTV'],
 ['ANET'],
 ['AIZ'],
 ['T'],
 ['ATO'],
 ['ADSK'],
 ['AZO'],
 ['AVB'],
 ['AVY'],
 ['BKR'],
 ['BLL'],
 ['BAC'],
 ['BBWI'],
 ['BAX'],
 ['BDX'],
 ['WRB'],
 ['BRK-B'],
 ['BBY'],
 ['BIO'],
 ['TECH'],
 ['BIIB'],
 ['BLK'],
 ['BK'],
 ['BA'],
 ['BKNG'],
 ['BWA'],
 ['BXP'],
 ['BSX'],
 ['BMY'],
 ['AVGO'],
 ['BR'],
 ['BRO'],
 ['BF-B'],
 ['CHRW'],
 ['CDNS'],
 ['CZR'],
 ['CPT'],
 ['CPB'],
 ['COF'],
 ['CAH'],
 ['KMX'],
 ['CCL'],
 ['CARR'],
 ['CTLT'],
 ['CAT'],
 ['CBOE'],
 ['CBRE'],
 ['CDW'],
 ['CE'],
 ['CNC'],
 ['CNP'],
 ['CDAY'],
 ['CERN'],
 ['CF'],
 ['CRL'],
 ['SCHW'],
 ['CHTR'],
 ['CVX'],
 ['CMG'],
 ['CB'],
 ['CHD'],
 ['CI'],
 ['CINF'],
 ['CTAS'],
 ['CSCO'],
 ['C'],
 ['CFG'],
 ['CTXS'],
 ['CLX'],
 ['CME'],
 ['CMS'],
 ['KO'],
 ['CTSH'],
 ['CL'],
 ['CMCSA'],
 ['CMA'],
 ['CAG'],
 ['COP'],
 ['ED'],
 ['STZ'],
 ['CEG'],
 ['COO'],
 ['CPRT'],
 ['GLW'],
 ['CTVA'],
 ['COST'],
 ['CTRA'],
 ['CCI'],
 ['CSX'],
 ['CMI'],
 ['CVS'],
 ['DHI'],
 ['DHR'],
 ['DRI'],
 ['DVA'],
 ['DE'],
 ['DAL'],
 ['XRAY'],
 ['DVN'],
 ['DXCM'],
 ['FANG'],
 ['DLR'],
 ['DFS'],
 ['DISH'],
 ['DIS'],
 ['DG'],
 ['DLTR'],
 ['D'],
 ['DPZ'],
 ['DOV'],
 ['DOW'],
 ['DTE'],
 ['DUK'],
 ['DRE'],
 ['DD'],
 ['DXC'],
 ['EMN'],
 ['ETN'],
 ['EBAY'],
 ['ECL'],
 ['EIX'],
 ['EW'],
 ['EA'],
 ['EMR'],
 ['ENPH'],
 ['ETR'],
 ['EOG'],
 ['EPAM'],
 ['EFX'],
 ['EQIX'],
 ['EQR'],
 ['ESS'],
 ['EL'],
 ['ETSY'],
 ['RE'],
 ['EVRG'],
 ['ES'],
 ['EXC'],
 ['EXPE'],
 ['EXPD'],
 ['EXR'],
 ['XOM'],
 ['FFIV'],
 ['FDS'],
 ['FAST'],
 ['FRT'],
 ['FDX'],
 ['FITB'],
 ['FRC'],
 ['FE'],
 ['FIS'],
 ['FISV'],
 ['FLT'],
 ['FMC'],
 ['F'],
 ['FTNT'],
 ['FTV'],
 ['FBHS'],
 ['FOXA'],
 ['FOX'],
 ['BEN'],
 ['FCX'],
 ['AJG'],
 ['GRMN'],
 ['IT'],
 ['GE'],
 ['GNRC'],
 ['GD'],
 ['GIS'],
 ['GPC'],
 ['GILD'],
 ['GL'],
 ['GPN'],
 ['GM'],
 ['GS'],
 ['GWW'],
 ['HAL'],
 ['HIG'],
 ['HAS'],
 ['HCA'],
 ['PEAK'],
 ['HSIC'],
 ['HSY'],
 ['HES'],
 ['HPE'],
 ['HLT'],
 ['HOLX'],
 ['HD'],
 ['HON'],
 ['HRL'],
 ['HST'],
 ['HWM'],
 ['HPQ'],
 ['HUM'],
 ['HII'],
 ['HBAN'],
 ['IEX'],
 ['IDXX'],
 ['ITW'],
 ['ILMN'],
 ['INCY'],
 ['IR'],
 ['INTC'],
 ['ICE'],
 ['IBM'],
 ['IP'],
 ['IPG'],
 ['IFF'],
 ['INTU'],
 ['ISRG'],
 ['IVZ'],
 ['IPGP'],
 ['IQV'],
 ['IRM'],
 ['JBHT'],
 ['JKHY'],
 ['J'],
 ['JNJ'],
 ['JCI'],
 ['JPM'],
 ['JNPR'],
 ['K'],
 ['KEY'],
 ['KEYS'],
 ['KMB'],
 ['KIM'],
 ['KMI'],
 ['KLAC'],
 ['KHC'],
 ['KR'],
 ['LHX'],
 ['LH'],
 ['LRCX'],
 ['LW'],
 ['LVS'],
 ['LDOS'],
 ['LEN'],
 ['LLY'],
 ['LNC'],
 ['LIN'],
 ['LYV'],
 ['LKQ'],
 ['LMT'],
 ['L'],
 ['LOW'],
 ['LUMN'],
 ['LYB'],
 ['MTB'],
 ['MRO'],
 ['MPC'],
 ['MKTX'],
 ['MAR'],
 ['MMC'],
 ['MLM'],
 ['MAS'],
 ['MA'],
 ['MTCH'],
 ['MKC'],
 ['MCD'],
 ['MCK'],
 ['MDT'],
 ['MRK'],
 ['FB'],
 ['MET'],
 ['MTD'],
 ['MGM'],
 ['MCHP'],
 ['MU'],
 ['MSFT'],
 ['MAA'],
 ['MRNA'],
 ['MHK'],
 ['MOH'],
 ['TAP'],
 ['MDLZ'],
 ['MPWR'],
 ['MNST'],
 ['MCO'],
 ['MS'],
 ['MOS'],
 ['MSI'],
 ['MSCI'],
 ['NDAQ'],
 ['NTAP'],
 ['NFLX'],
 ['NWL'],
 ['NEM'],
 ['NWSA'],
 ['NWS'],
 ['NEE'],
 ['NLSN'],
 ['NKE'],
 ['NI'],
 ['NDSN'],
 ['NSC'],
 ['NTRS'],
 ['NOC'],
 ['NLOK'],
 ['NCLH'],
 ['NRG'],
 ['NUE'],
 ['NVDA'],
 ['NVR'],
 ['NXPI'],
 ['ORLY'],
 ['OXY'],
 ['ODFL'],
 ['OMC'],
 ['OKE'],
 ['ORCL'],
 ['OGN'],
 ['OTIS'],
 ['PCAR'],
 ['PKG'],
 ['PARA'],
 ['PH'],
 ['PAYX'],
 ['PAYC'],
 ['PYPL'],
 ['PENN'],
 ['PNR'],
 ['PEP'],
 ['PKI'],
 ['PFE'],
 ['PM'],
 ['PSX'],
 ['PNW'],
 ['PXD'],
 ['PNC'],
 ['POOL'],
 ['PPG'],
 ['PPL'],
 ['PFG'],
 ['PG'],
 ['PGR'],
 ['PLD'],
 ['PRU'],
 ['PEG'],
 ['PTC'],
 ['PSA'],
 ['PHM'],
 ['PVH'],
 ['QRVO'],
 ['PWR'],
 ['QCOM'],
 ['DGX'],
 ['RL'],
 ['RJF'],
 ['RTX'],
 ['O'],
 ['REG'],
 ['REGN'],
 ['RF'],
 ['RSG'],
 ['RMD'],
 ['RHI'],
 ['ROK'],
 ['ROL'],
 ['ROP'],
 ['ROST'],
 ['RCL'],
 ['SPGI'],
 ['CRM'],
 ['SBAC'],
 ['SLB'],
 ['STX'],
 ['SEE'],
 ['SRE'],
 ['NOW'],
 ['SHW'],
 ['SBNY'],
 ['SPG'],
 ['SWKS'],
 ['SJM'],
 ['SNA'],
 ['SEDG'],
 ['SO'],
 ['LUV'],
 ['SWK'],
 ['SBUX'],
 ['STT'],
 ['STE'],
 ['SYK'],
 ['SIVB'],
 ['SYF'],
 ['SNPS'],
 ['SYY'],
 ['TMUS'],
 ['TROW'],
 ['TTWO'],
 ['TPR'],
 ['TGT'],
 ['TEL'],
 ['TDY'],
 ['TFX'],
 ['TER'],
 ['TSLA'],
 ['TXN'],
 ['TXT'],
 ['TMO'],
 ['TJX'],
 ['TSCO'],
 ['TT'],
 ['TDG'],
 ['TRV'],
 ['TRMB'],
 ['TFC'],
 ['TWTR'],
 ['TYL'],
 ['TSN'],
 ['USB'],
 ['UDR'],
 ['ULTA'],
 ['UAA'],
 ['UA'],
 ['UNP'],
 ['UAL'],
 ['UNH'],
 ['UPS'],
 ['URI'],
 ['UHS'],
 ['VLO'],
 ['VTR'],
 ['VRSN'],
 ['VRSK'],
 ['VZ'],
 ['VRTX'],
 ['VFC'],
 ['VTRS'],
 ['V'],
 ['VNO'],
 ['VMC'],
 ['WAB'],
 ['WMT'],
 ['WBA'],
 ['WBD'],
 ['WM'],
 ['WAT'],
 ['WEC'],
 ['WFC'],
 ['WELL'],
 ['WST'],
 ['WDC'],
 ['WRK'],
 ['WY'],
 ['WHR'],
 ['WMB'],
 ['WTW'],
 ['WYNN'],
 ['XEL'],
 ['XYL'],
 ['YUM'],
 ['ZBRA'],
 ['ZBH'],
 ['ZION'],
 ['ZTS']]

In [7]:
flat_tickers = [item for sublist in tickers for item in sublist]

In [8]:
flat_tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADM',
 'ADBE',
 'ADP',
 'AAP',
 'AES',
 'AFL',
 'A',
 'AIG',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AMD',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ANET',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BLL',
 'BAC',
 'BBWI',
 'BAX',
 'BDX',
 'WRB',
 'BRK-B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF-B',
 'CHRW',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CDAY',
 'CERN',
 'CF',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISH',
 'DIS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FAST',
 'FRT',
 'FDX',
 'FITB',
 'FRC',
 'FE',
 'FIS',
 'FISV',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'AJG',
 'GRMN',
 'IT',
 'GE',
 'GNRC',
 'GD',
 'GIS',
 'GPC',
 'GILD',
 'GL',
 'GPN',
 'GM',
 'GS',
 'GWW',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HII',
 'HBAN',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IP',
 'IPG',
 'IFF',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'FB',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OGN',
 'OTIS',
 'PCAR',
 'PKG',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PEP',
 'PKI',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SBNY',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SEDG',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UNH',
 'UPS',
 'URI',
 'UHS',
 'VLO',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WAB',
 'WMT',
 'WBA',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [9]:
stocks = yf.download(flat_tickers, start = '2010-01-01')

[*********************100%***********************]  504 of 504 completed

In [10]:
stocks

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2010-01-04   20.402895   4.496878   38.432693    6.544688         NaN
2010-01-05   20.181267   5.005956   38.204258    6.556001         NaN
2010-01-06   20.109560   4.798555   38.537392    6.451720         NaN
2010-01-07   20.083492   4.939965   38.527885    6.439792         NaN
2010-01-08   20.076965   4.845692   38.680153    6.482606         NaN
...                ...        ...         ...         ...         ...
2022-04-07  135.929993  16.950001  217.580002  172.139999  173.279999
2022-04-08  134.869995  16.590000  225.740005  170.089996  174.960007
2022-04-11  131.259995  16.969999  220.970001  165.750000  169.830002
2022-04-12  125.389999  17.129999  221.880005  167.660004  167.309998
2022-04-13  128.289993  18.950001  220.580002  170.399994  158.949997

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2010-01-04   22.101799    8.740000   19.778837   32.970871   37.090000  ...
2010-01-05   21.944107    8.530000   19.619041   33.174648   37.700001  ...
2010-01-06   21.736620    8.400000   19.727999   33.527321   37.619999  ...
2010-01-07   21.388031    8.400000   19.891426   33.495968   36.889999  ...
2010-01-08   21.620424    8.230000   19.993120   33.362751   36.689999  ...
...                ...         ...         ...         ...         ...  ...
2022-04-07  162.919998  317.519989  123.370003  341.769989  452.720001  ...
2022-04-08  165.440002  314.529999  123.250000  338.920013  445.339996  ...
2022-04-11  162.649994  299.760010  120.040001  327.269989  434.440002  ...
2022-04-12  162.619995  299.640015  118.389999  326.730011  426.769989  ...
2022-04-13  162.960007  304.429993  119.480003  325.589996  431.670013  ...

               Volume                                                          \
                 WYNN        XEL         XOM       XRAY        XYL        YUM
Date
2010-01-04  4741400.0  2670400.0  27809100.0  1051400.0        NaN  2962274.0
2010-01-05  5644300.0  4321400.0  30174700.0   763400.0        NaN  3298757.0
2010-01-06  2738800.0  2164500.0  35044700.0  1595100.0        NaN  4178981.0
2010-01-07  2388500.0  3041700.0  27192100.0  1096100.0        NaN  2452472.0
2010-01-08  1539800.0  1599100.0  24891800.0   803600.0        NaN  3772392.0
...               ...        ...         ...        ...        ...        ...
2022-04-07  3437600.0  3228700.0  26122000.0  1240400.0  1153100.0  2008900.0
2022-04-08  2418800.0  2115100.0  24863600.0  1252100.0  1363500.0  1743200.0
2022-04-11  2483800.0  2752300.0  21800100.0  1728600.0  1076700.0  2199600.0
2022-04-12  1956300.0  2872300.0  22444200.0  1266300.0  1172900.0  2396300.0
2022-04-13  2134188.0  2209534.0  18926833.0  1013282.0   978217.0  1602781.0


                  ZBH      ZBRA        ZION        ZTS
Date
2010-01-04   805872.0  168800.0   3974600.0        NaN
2010-01-05  1769643.0  168800.0   5605500.0        NaN
2010-01-06  1315619.0  385300.0  12615200.0        NaN
2010-01-07  1734005.0  183600.0  24716800.0        NaN
2010-01-08  2213985.0  266500.0   6903000.0        NaN
...               ...       ...         ...        ...
2022-04-07  1800200.0  464500.0   1093500.0  2781400.0
2022-04-08  1107600.0  387600.0    889300.0  2455500.0
2022-04-11   841800.0  249100.0    939800.0  2252200.0
2022-04-12  1216100.0  276100.0    816600.0  1746500.0
2022-04-13   973011.0  459431.0    964139.0  1436452.0

[3096 rows x 3024 columns]

In [11]:
# saving stocks data to csv

In [12]:
stocks

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2010-01-04   20.402895   4.496878   38.432693    6.544688         NaN
2010-01-05   20.181267   5.005956   38.204258    6.556001         NaN
2010-01-06   20.109560   4.798555   38.537392    6.451720         NaN
2010-01-07   20.083492   4.939965   38.527885    6.439792         NaN
2010-01-08   20.076965   4.845692   38.680153    6.482606         NaN
...                ...        ...         ...         ...         ...
2022-04-07  135.929993  16.950001  217.580002  172.139999  173.279999
2022-04-08  134.869995  16.590000  225.740005  170.089996  174.960007
2022-04-11  131.259995  16.969999  220.970001  165.750000  169.830002
2022-04-12  125.389999  17.129999  221.880005  167.660004  167.309998
2022-04-13  128.289993  18.950001  220.580002  170.399994  158.949997

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2010-01-04   22.101799    8.740000   19.778837   32.970871   37.090000  ...
2010-01-05   21.944107    8.530000   19.619041   33.174648   37.700001  ...
2010-01-06   21.736620    8.400000   19.727999   33.527321   37.619999  ...
2010-01-07   21.388031    8.400000   19.891426   33.495968   36.889999  ...
2010-01-08   21.620424    8.230000   19.993120   33.362751   36.689999  ...
...                ...         ...         ...         ...         ...  ...
2022-04-07  162.919998  317.519989  123.370003  341.769989  452.720001  ...
2022-04-08  165.440002  314.529999  123.250000  338.920013  445.339996  ...
2022-04-11  162.649994  299.760010  120.040001  327.269989  434.440002  ...
2022-04-12  162.619995  299.640015  118.389999  326.730011  426.769989  ...
2022-04-13  162.960007  304.429993  119.480003  325.589996  431.670013  ...

               Volume                                                          \
                 WYNN        XEL         XOM       XRAY        XYL        YUM
Date
2010-01-04  4741400.0  2670400.0  27809100.0  1051400.0        NaN  2962274.0
2010-01-05  5644300.0  4321400.0  30174700.0   763400.0        NaN  3298757.0
2010-01-06  2738800.0  2164500.0  35044700.0  1595100.0        NaN  4178981.0
2010-01-07  2388500.0  3041700.0  27192100.0  1096100.0        NaN  2452472.0
2010-01-08  1539800.0  1599100.0  24891800.0   803600.0        NaN  3772392.0
...               ...        ...         ...        ...        ...        ...
2022-04-07  3437600.0  3228700.0  26122000.0  1240400.0  1153100.0  2008900.0
2022-04-08  2418800.0  2115100.0  24863600.0  1252100.0  1363500.0  1743200.0
2022-04-11  2483800.0  2752300.0  21800100.0  1728600.0  1076700.0  2199600.0
2022-04-12  1956300.0  2872300.0  22444200.0  1266300.0  1172900.0  2396300.0
2022-04-13  2134188.0  2209534.0  18926833.0  1013282.0   978217.0  1602781.0


                  ZBH      ZBRA        ZION        ZTS
Date
2010-01-04   805872.0  168800.0   3974600.0        NaN
2010-01-05  1769643.0  168800.0   5605500.0        NaN
2010-01-06  1315619.0  385300.0  12615200.0        NaN
2010-01-07  1734005.0  183600.0  24716800.0        NaN
2010-01-08  2213985.0  266500.0   6903000.0        NaN
...               ...       ...         ...        ...
2022-04-07  1800200.0  464500.0   1093500.0  2781400.0
2022-04-08  1107600.0  387600.0    889300.0  2455500.0
2022-04-11   841800.0  249100.0    939800.0  2252200.0
2022-04-12  1216100.0  276100.0    816600.0  1746500.0
2022-04-13   973011.0  459431.0    964139.0  1436452.0

[3096 rows x 3024 columns]

In [13]:
stocks.drop("Open", axis = 1, inplace = True)

In [14]:
stocks.drop("High", axis = 1, inplace = True)

In [15]:
stocks.drop("Low", axis = 1, inplace = True)

In [16]:
stocks.drop("Close", axis = 1, inplace = True)

In [17]:
stocks.drop("Volume", axis = 1, inplace = True)

In [18]:
stocks.reset_index()

           Date   Adj Close                                                 \
                          A        AAL         AAP        AAPL        ABBV
0    2010-01-04   20.402895   4.496878   38.432693    6.544688         NaN
1    2010-01-05   20.181267   5.005956   38.204258    6.556001         NaN
2    2010-01-06   20.109560   4.798555   38.537392    6.451720         NaN
3    2010-01-07   20.083492   4.939965   38.527885    6.439792         NaN
4    2010-01-08   20.076965   4.845692   38.680153    6.482606         NaN
...         ...         ...        ...         ...         ...         ...
3091 2022-04-07  135.929993  16.950001  217.580002  172.139999  173.279999
3092 2022-04-08  134.869995  16.590000  225.740005  170.089996  174.960007
3093 2022-04-11  131.259995  16.969999  220.970001  165.750000  169.830002
3094 2022-04-12  125.389999  17.129999  221.880005  167.660004  167.309998
3095 2022-04-13  128.289993  18.950001  220.580002  170.399994  158.949997

                                                      ...             \
             ABC        ABMD         ABT         ACN  ...       WYNN
0      22.101799    8.740000   19.778837   32.970871  ...  41.963718
1      21.944107    8.530000   19.619041   33.174648  ...  44.515930
2      21.736620    8.400000   19.727999   33.527321  ...  43.932014
3      21.388031    8.400000   19.891426   33.495968  ...  44.870220
4      21.620424    8.230000   19.993120   33.362751  ...  44.548721
...          ...         ...         ...         ...  ...        ...
3091  162.919998  317.519989  123.370003  341.769989  ...  73.970001
3092  165.440002  314.529999  123.250000  338.920013  ...  72.230003
3093  162.649994  299.760010  120.040001  327.269989  ...  71.290001
3094  162.619995  299.640015  118.389999  326.730011  ...  71.500000
3095  162.960007  304.429993  119.480003  325.589996  ...  73.570000

                                                                          \
            XEL        XOM       XRAY        XYL         YUM         ZBH
0     13.784520  43.185646  32.624146        NaN   19.900911   53.434990
1     13.621046  43.354256  32.236286        NaN   19.832853   55.126537
2     13.647201  43.728958  32.448685        NaN   19.691069   55.108727
3     13.588346  43.591572  32.873451        NaN   19.685398   56.372925
4     13.594893  43.416706  32.873451        NaN   19.691069   55.188854
...         ...        ...        ...        ...         ...         ...
3091  74.570000  85.050003  48.070000  86.720001  120.400002  129.910004
3092  74.820000  86.839996  48.049999  86.669998  119.169998  129.619995
3093  74.360001  83.849998  48.480000  85.730003  118.309998  126.900002
3094  74.730003  85.599998  48.450001  84.849998  119.889999  126.639999
3095  74.370003  86.809998  48.750000  86.540001  121.870003  127.949997


            ZBRA       ZION         ZTS
0      28.670000  11.376086         NaN
1      28.620001  11.777192         NaN
2      28.400000  12.801298         NaN
3      27.690001  14.235045         NaN
4      27.600000  14.004619         NaN
...          ...        ...         ...
3091  418.399994  63.180000  197.929993
3092  415.630005  63.889999  200.089996
3093  408.700012  64.230003  192.500000
3094  402.209991  63.220001  187.910004
3095  405.000000  64.019997  189.520004

[3096 rows x 505 columns]

In [19]:
stocks.to_csv("stocks_spy_data.csv")

In [20]:
stocks = pd.read_csv("stocks_spy_data.csv", header = [0,1], index_col = [0], parse_dates = [0])

In [21]:
stocks

             Adj Close                                                 \
                     A        AAL         AAP        AAPL        ABBV
Date
2010-01-04   20.402895   4.496878   38.432693    6.544688         NaN
2010-01-05   20.181267   5.005956   38.204258    6.556001         NaN
2010-01-06   20.109560   4.798555   38.537392    6.451720         NaN
2010-01-07   20.083492   4.939965   38.527885    6.439792         NaN
2010-01-08   20.076965   4.845692   38.680153    6.482606         NaN
...                ...        ...         ...         ...         ...
2022-04-07  135.929993  16.950001  217.580002  172.139999  173.279999
2022-04-08  134.869995  16.590000  225.740005  170.089996  174.960007
2022-04-11  131.259995  16.969999  220.970001  165.750000  169.830002
2022-04-12  125.389999  17.129999  221.880005  167.660004  167.309998
2022-04-13  128.289993  18.950001  220.580002  170.399994  158.949997

                                                                        ...  \
                   ABC        ABMD         ABT         ACN        ADBE  ...
Date                                                                    ...
2010-01-04   22.101799    8.740000   19.778837   32.970871   37.090000  ...
2010-01-05   21.944107    8.530000   19.619041   33.174648   37.700001  ...
2010-01-06   21.736620    8.400000   19.727999   33.527321   37.619999  ...
2010-01-07   21.388031    8.400000   19.891426   33.495968   36.889999  ...
2010-01-08   21.620424    8.230000   19.993120   33.362751   36.689999  ...
...                ...         ...         ...         ...         ...  ...
2022-04-07  162.919998  317.519989  123.370003  341.769989  452.720001  ...
2022-04-08  165.440002  314.529999  123.250000  338.920013  445.339996  ...
2022-04-11  162.649994  299.760010  120.040001  327.269989  434.440002  ...
2022-04-12  162.619995  299.640015  118.389999  326.730011  426.769989  ...
2022-04-13  162.960007  304.429993  119.480003  325.589996  431.670013  ...

                                                                               \
                 WYNN        XEL        XOM       XRAY        XYL         YUM
Date
2010-01-04  41.963718  13.784520  43.185646  32.624146        NaN   19.900911
2010-01-05  44.515930  13.621046  43.354256  32.236286        NaN   19.832853
2010-01-06  43.932014  13.647201  43.728958  32.448685        NaN   19.691069
2010-01-07  44.870220  13.588346  43.591572  32.873451        NaN   19.685398
2010-01-08  44.548721  13.594893  43.416706  32.873451        NaN   19.691069
...               ...        ...        ...        ...        ...         ...
2022-04-07  73.970001  74.570000  85.050003  48.070000  86.720001  120.400002
2022-04-08  72.230003  74.820000  86.839996  48.049999  86.669998  119.169998
2022-04-11  71.290001  74.360001  83.849998  48.480000  85.730003  118.309998
2022-04-12  71.500000  74.730003  85.599998  48.450001  84.849998  119.889999
2022-04-13  73.570000  74.370003  86.809998  48.750000  86.540001  121.870003


                   ZBH        ZBRA       ZION         ZTS
Date
2010-01-04   53.434990   28.670000  11.376086         NaN
2010-01-05   55.126537   28.620001  11.777192         NaN
2010-01-06   55.108727   28.400000  12.801298         NaN
2010-01-07   56.372925   27.690001  14.235045         NaN
2010-01-08   55.188854   27.600000  14.004619         NaN
...                ...         ...        ...         ...
2022-04-07  129.910004  418.399994  63.180000  197.929993
2022-04-08  129.619995  415.630005  63.889999  200.089996
2022-04-11  126.900002  408.700012  64.230003  192.500000
2022-04-12  126.639999  402.209991  63.220001  187.910004
2022-04-13  127.949997  405.000000  64.019997  189.520004

[3096 rows x 504 columns]

In [22]:
## Sharpe Ratio - gives the return per unit of risk
# Any Sharpe Ratio above 1.00 generally means the portfolio or stock is acceptable to hold because you are receiving an excess return per unit of risk. Anything above 2.00 or 3.00 is considered very good
# Any Sharpe Ration below 1.00 is a risky investment 

# Formula - The Sharpe Ratio is measured by first finding the expected rate of return, or the average return over a specified time period, then subtracting the risk-free rate. This is the reward portion of the Sharpe Ratio, which will then be divided by the standard deviation of the returns (the risk portion)

## Potential Problems with the Sharpe Ratio
#The Sharpe Ratio, while a useful risk/return measure, is not a perfect tool. The Sharpe Ratio is intended to work well with normally distributed returns, or with return distributions with a minimal presence of skewness and kurtosis.
#Market returns are not typically normally distributed. In fact, they will usually be skewed leptokurtic distributions. That is, they have “fat tails” and the extreme outlier events (black swans) happen more frequently than a normal distribution would have you believe.
#Therefore, while the Sharpe Ratio is a great tool, it should just be one of many risk measurements used by an analyst to aid in the decision making process.

import yfinance as yf
import pandas as pd
import warnings
import seaborn as sns
warnings.filterwarnings('ignore')

In [23]:
stocks_pct_change = stocks.pct_change()

In [24]:
stocks_pct_change = stocks_pct_change.droplevel(0,1)

In [25]:
stocks_pct_change

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010-01-05,-0.010863,0.113207,-0.005944,0.001729,NaN,-0.007135,-0.024027,-0.008079,0.006181,0.016446,...,0.060819,-0.011859,0.003904,-0.011889,NaN,-0.003420,0.031656,-0.001744,0.035259,NaN
2010-01-06,-0.003553,-0.041431,0.008720,-0.015906,NaN,-0.009455,-0.015240,0.005554,0.010631,-0.002122,...,-0.013117,0.001920,0.008643,0.006589,NaN,-0.007149,-0.000323,-0.007687,0.086957,NaN
2010-01-07,-0.001296,0.029469,-0.000247,-0.001849,NaN,-0.016037,0.000000,0.008284,-0.000935,-0.019405,...,0.021356,-0.004313,-0.003142,0.013090,NaN,-0.000288,0.022940,-0.025000,0.112000,NaN
2010-01-08,-0.000325,-0.019084,0.003952,0.006648,NaN,0.010866,-0.020238,0.005112,-0.003977,-0.005422,...,-0.007165,0.000482,-0.004011,0.000000,NaN,0.000288,-0.021004,-0.003250,-0.016187,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-04-07,0.024263,-0.024741,0.022318,0.001804,0.025872,0.030226,0.011984,0.028598,0.004438,0.018882,...,-0.028883,-0.005601,0.016736,-0.004143,0.000115,0.015006,0.016113,-0.010641,-0.007696,0.034225
2022-04-08,-0.007798,-0.021239,0.037503,-0.011909,0.009695,0.015468,-0.009417,-0.000973,-0.008339,-0.016301,...,-0.023523,0.003353,0.021046,-0.000416,-0.000577,-0.010216,-0.002232,-0.006620,0.011238,0.010913
2022-04-11,-0.026767,0.022905,-0.021131,-0.025516,-0.029321,-0.016864,-0.046959,-0.026045,-0.034374,-0.024476,...,-0.013014,-0.006148,-0.034431,0.008949,-0.010846,-0.007217,-0.020984,-0.016673,0.005322,-0.037933
2022-04-12,-0.044720,0.009428,0.004118,0.011523,-0.014838,-0.000184,-0.000400,-0.013745,-0.001650,-0.017655,...,0.002946,0.004976,0.020871,-0.000619,-0.010265,0.013355,-0.002049,-0.015880,-0.015725,-0.023844
2022-04-13,0.023128,0.106246,-0.005859,0.016343,-0.049967,0.002091,0.015986,0.009207,-0.003489,0.011482,...,0.028951,-0.004817,0.014136,0.006192,0.019918,0.016515,0.010344,0.006937,0.012654,0.008568

In [26]:
stocks_std = stocks_pct_change.std()

In [27]:
stocks_std = pd.DataFrame(stocks_std)

In [28]:
stocks_std

             0
A     0.017865
AAL   0.033346
AAP   0.019344
AAPL  0.017683
ABBV  0.017290
...        ...
YUM   0.015522
ZBH   0.016416
ZBRA  0.021886
ZION  0.022157
ZTS   0.015616

[504 rows x 1 columns]

In [29]:
stocks_std.columns =['Standard Deviation']

In [30]:
stocks_std.index.name = 'Ticker'

In [31]:
stocks_std_dict = stocks_std.to_dict('index')

In [32]:
#stocks_std_dict['AAP']['Standard Deviation']
#ab =stocks_pct_change.columns[3]
#ab

In [33]:
#mdr = stocks_pct_change[ab].sum()/len(stocks_pct_change[ab])

In [34]:
#daily_sharpe_ratio = (mdr - 0) / stocks_std_dict[ab]['Standard Deviation']
    # Annualize Daily Sharpe Ratio
#sharpe_ratio = 252**(1/2) * daily_sharpe_ratio

In [35]:
#sharpe_ratio

In [36]:
#len(stocks_pct_change.columns)

In [37]:
#stocks_std_dict[ab]['Standard Deviation']
#ticker = stocks_pct_change.columns[0]
#ticker

In [55]:
d ={'Ticker':[],'Sharpe Ratio':[]}
s_ratio = pd.DataFrame(data = d)
for i in range(0,len(stocks_pct_change.columns)-1):
    ab =stocks_pct_change.columns[i]
    #mean daily returns
    mdr = stocks_pct_change[ab].sum()/len(stocks_pct_change[ab])
    daily_sharpe_ratio = (mdr - 0.0) / stocks_std_dict[ab]['Standard Deviation']
    # Annualize Daily Sharpe Ratio
    sharpe_ratio = 252**(1/2) * daily_sharpe_ratio
    s_ratio = s_ratio.append({'Ticker': ab, 'Sharpe Ratio': sharpe_ratio}, ignore_index = True)
    #s_ratio = s_ratio.append({'Sharpe Ratio': sharpe_ratio}, index = 'Ticker')

In [56]:
s_ratio

    Ticker  Sharpe Ratio
0        A      0.670114
1      AAL      0.481006
2      AAP      0.617625
3     AAPL      1.086030
4     ABBV      0.669838
..     ...           ...
498    XYL      0.550432
499    YUM      0.721905
500    ZBH      0.402889
501   ZBRA      0.795172
502   ZION      0.574873

[503 rows x 2 columns]

In [ ]:
sharpe_ratio_top_50 = s_ratio.sort_values(by='Sharpe Ratio', ascending = False ).head(50)

In [ ]:
sharpe_ratio_top_50.to_csv("Top_50_Sharpe_Ratio_tickers.csv")

In [ ]:
sharpe_ratio_top_50.plot(x='Ticker', y ='Sharpe Ratio')

In [ ]:
sns.set(rc={'figure.figsize':(22.7,8.27)})
ax = sns.scatterplot(x='Ticker', y ='Sharpe Ratio', data = sharpe_ratio_top_50)
#ax.set_xticklabels(ax.get_xticklabels(), fontsize=7)
#ax.set_xticklabels(ax.get_xticklabels(), rotation=40, ha="right")
plt.tight_layout()
#plt.show()
plt.xticks(rotation=90)