In [1]:
# Ignoring Future Warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas_datareader as web
import pandas as pd
from yahoo_fin import stock_info as si
import datetime as dt
# yfinance is where we will pull our data from
import yfinance as yf
%matplotlib inline
import matplotlib.pyplot as plt 
plt.style.use("seaborn")

# Normalizing the Adjusted Close column and Saving into the Database

In [2]:
# Reading the stocks_adj_close.csv
stocks = pd.read_csv("stocks_adj_close.csv", index_col = [0], parse_dates = [0])
stocks.head()

,A,AAL,AAP,AAPL,ABC,ABMD,ABT,ACN,ADBE,ADI,...,WTW,WY,WYNN,XEL,XOM,XRAY,YUM,ZBH,ZBRA,ZION
Date,,,,,,,,,,,,,,,,,,,,,
2010-01-05,19.963375,5.005957,37.928116,6.556004,21.944105,8.53,19.619041,33.540310,37.700001,23.353294,...,54.343529,29.609983,45.093864,13.622756,43.354244,32.392876,18.730406,54.986431,28.620001,11.777194
2010-01-06,19.892447,4.798555,38.258835,6.451721,21.736616,8.40,19.727999,33.896866,37.619999,23.308975,...,55.218384,29.282593,44.502361,13.648920,43.728966,32.606281,18.596510,54.968670,28.400000,12.801298
2010-01-07,19.866661,4.939965,38.249397,6.439795,21.388035,8.40,19.891426,33.865170,36.889999,23.124332,...,55.055614,29.151625,45.452759,13.590055,43.591572,33.033108,18.591158,56.229664,27.690001,14.235043
2010-01-08,19.860210,4.845691,38.400570,6.482610,21.620428,8.23,19.993120,33.730465,36.689999,23.257280,...,54.994595,28.883154,45.127102,13.596595,43.416714,33.033108,18.596510,55.048595,27.600000,14.004617
2010-01-11,19.873106,4.751417,38.022617,6.425421,21.861107,8.08,20.094807,33.698780,36.209999,23.124332,...,55.543926,29.073048,44.980888,13.727399,43.903843,33.459942,18.917879,56.265182,27.690001,14.089961

In [3]:
# Getting the tickers list
tickers = list(stocks.columns)

In [4]:
start = '2010-01-01'
end = '2022-04-08'
# Load sp500_df return data for comparing the returns of individual stocks
sp500_df = web.DataReader('^GSPC', 'yahoo', start, end)
sp500_df['Percent Change'] = sp500_df['Adj Close'].pct_change()
sp500_return = (sp500_df['Percent Change'] + 1).cumprod()[-1]

In [5]:
sp500_df.head()

,High,Low,Open,Close,Volume,Adj Close,Percent Change
Date,,,,,,,
2010-01-04,1133.869995,1116.560059,1116.560059,1132.989990,3991400000,1132.989990,NaN
2010-01-05,1136.630005,1129.660034,1132.660034,1136.520020,2491020000,1136.520020,0.003116
2010-01-06,1139.189941,1133.949951,1135.709961,1137.140015,4972660000,1137.140015,0.000546
2010-01-07,1142.459961,1131.319946,1136.270020,1141.689941,5270680000,1141.689941,0.004001
2010-01-08,1145.390015,1136.219971,1140.520020,1144.979980,4389590000,1144.979980,0.002882

In [6]:
sp500_return

3.9614469888015336

In [7]:
# Lets figure out the best performers by comparing with the spy returns
# We will assign
return_list = []
for ticker in tickers:
    df = stocks[ticker]
    df['Percent Change'] = df.pct_change()
    stock_return = ((df['Percent Change'] + 1).cumprod())[-1]
    returns_compared = round((stock_return / sp500_return),2)
    return_list.append(returns_compared)

In [8]:
best_performers = pd.DataFrame(list(zip(tickers, return_list)), columns = ['Ticker', 'Returns Compared'])

In [9]:
best_performers

    Ticker  Returns Compared
0        A              1.71
1      AAL              0.84
2      AAP              1.50
3     AAPL              6.55
4      ABC              1.90
..     ...               ...
438   XRAY              0.37
439    YUM              1.61
440    ZBH              0.60
441   ZBRA              3.67
442   ZION              1.37

[443 rows x 2 columns]

In [10]:
# Showing the ranking in percentile form
best_performers['Score'] = best_performers['Returns Compared'].rank(pct = True)*100

In [11]:
best_performers.head()

  Ticker  Returns Compared      Score
0      A              1.71  61.851016
1    AAL              0.84  23.363431
2    AAP              1.50  53.047404
3   AAPL              6.55  97.291196
4    ABC              1.90  67.945824

In [12]:
# Setting the condition of picking the stocks which are in top 70% quantile 
# We can do the same thing with sharpe ratio and other factors
best_performers = best_performers[best_performers['Score'] >= (best_performers['Score'].quantile(0.70))]

In [13]:
best_performers.sort_values(by = 'Score', ascending = False)

    Ticker  Returns Compared       Score
138   DXCM             14.70  100.000000
297   NVDA             13.54   99.774266
130    DPZ             13.53   99.548533
287   NFLX             12.21   99.322799
43    AVGO             10.18   99.097065
..     ...               ...         ...
284   NDSN              2.04   70.993228
207   INCY              2.04   70.993228
86    CINF              2.03   70.654628
12    ADSK              2.02   70.316027
199    HSY              2.02   70.316027

[133 rows x 3 columns]

In [14]:
len(best_performers)

133

In [15]:
final_df = pd.DataFrame(columns = ['Tickers', 'Latest_Price', 'Score', 'PE_Ratio','PEG_Ratio','SMA_150', 'SMA_200', '52_week_low', '52_week_high'])

In [17]:
for ticker in best_performers['Ticker']:
    try:
        df = pd.read_csv(f'stock_data/{ticker}.csv', index_col = 0)
        moving_avg = [150, 200]
        for ma in moving_avg:
            df['SMA_'+str(ma)] = round(df['Adj Close'].rolling(window = int(ma)).mean(), 2)
        latest_price = df['Adj Close'][-1]
        pe_ratio = float(si.get_quote_table(ticker)['PE Ratio (TTM)'])
#         peg_ratio = float(si.get_stats_valuation(ticker)[1][4])
        moving_average_150 = df['SMA_150'][-1]
        moving_average_200 = df['SMA_200'][-1]
        low_52week = round(min(df['Low'][-(52*5):]), 2) # 5 days of trading times 52 week in a year
        high_52week = round(max(df['High'][-(52*5):]), 2)
        score = round(best_performers[best_performers['Ticker'] == ticker]['Score'].tolist()[0])
            
        # Conditions
        condition_1 = latest_price > moving_average_150 > moving_average_200
        condition_2 = latest_price >= (1.3 * low_52week)
        condition_3 = latest_price >= (0.75 * high_52week)
        condition_4 = pe_ratio < 40
#         condition_5 = peg_ratio < 2
            
        # Conditional
        if condition_1 and condition_2 and condition_3:            #condition_1 and condition_2 and condition_3 and 
            final_df = final_df.append({'Tickers': ticker,
                                        'Latest_Price': latest_price,
                                        'Score': score,
                                        'PE_Ratio': pe_ratio,
#                                         'PEG_Ratio': peg_ratio,
                                        'SMA_150': moving_average_150,
                                        'SMA_200': moving_average_200,
                                        '52_week_low': low_52week,
                                        '52_week_high': high_52week}, 
                                         ignore_index = True)
    
    except Exception as e:
        print(f"{e} for {ticker}")

In [18]:
final_df.sort_values(by = 'Score', ascending = False)
pd.set_option('display.max_columns', 10)
print(final_df)
final_df.to_csv('portfolio/portfolio3-SMA-52-High-Low.csv')

   Tickers Latest_Price Score PE_Ratio PEG_Ratio  SMA_150  SMA_200  \
0     AAPL   170.089996    97    29.42       NaN   161.37   157.45
1      AJG   183.190002    87    38.98       NaN   159.93   154.88
2     ANTM   520.669983    81    23.08       NaN   433.27   419.78
3      AON    333.51001    81     82.0       NaN   295.87   286.14
4     AVGO        587.0    99     39.1       NaN   564.28   540.98
5      AZO  2190.560059    90     21.2       NaN  1879.92  1806.97
6      BRO    72.959999    78    34.12       NaN    64.92    62.39
7     CINF   137.889999    71     8.92       NaN   119.87   119.23
8      CNC    88.480003    93    67.96       NaN    76.14    74.32
9     COST   600.039978    89    50.05       NaN   513.86   492.69
10      DE   418.299988    79    23.09       NaN   365.15   363.81
11    DLTR   162.919998    81    28.95       NaN   127.35   120.22
12      EW   123.919998    93     51.3       NaN   115.31   114.35
13     EXR   213.710007    98    39.46       NaN   194.92   188.96
14    FTNT   335.829987    99    99.46       NaN   318.68   309.32
15     HSY   223.720001    70    32.58       NaN    189.9   186.25
16      KR    61.669998    72    43.64       NaN    45.62    44.53
17     LLY   311.690002    88    45.62       NaN   253.66   252.13
18     LMT   461.519989    75    21.53       NaN   371.69   369.03
19     MMC   172.570007    84    32.22       NaN   161.31   157.73
20     MOH   337.600006    95    33.15       NaN    300.2   290.28
21      NI    32.049999    85    28.99       NaN    26.85     26.3
22     NOC   463.660004    86    16.42       NaN   388.68   381.51
23    ORLY   736.469971    94    25.07       NaN    654.6   639.85
24     PGR   118.510002    79    15.94       NaN   100.37    98.99
25     PLD   168.649994    79    61.65       NaN   148.19   142.88
26    REGN   738.840027    98    11.57       NaN   629.07   623.79
27     STE   249.119995    83    87.96       NaN   228.36   224.34
28     TMO   608.859985    88    26.56       NaN   597.26   581.23
29    TSCO   236.380005    95    27.81       NaN   217.69   210.05
30     TSN    92.440002    75     11.4       NaN    85.08    82.27
31    ULTA   401.549988    96    26.65       NaN   382.35   375.39
32     UNH   545.960022    95    33.15       NaN   462.12   449.55
33     VLO   103.220001    77      NaN       NaN    78.79    75.46
34     WRB    67.699997    74    12.48       NaN    55.48     53.8

   52_week_low 52_week_high
0       121.15       182.94
1       124.21       183.85
2       349.05       526.62
3       223.19       336.41
4       419.14       677.76
5      1367.96      2221.57
6        45.53         74.0
7       102.18       138.99
8        59.33        89.79
9       349.23       612.27
10       320.5       437.98
11       84.26        163.9
12       83.12       131.73
13      131.07       228.84
14      182.37       371.77
15      156.28       224.75
16       35.54        62.78
17      178.58        314.0
18      324.23       479.99
19      121.25       175.12
20      229.69       347.62
21       23.48        32.59
22      320.27       490.82
23      504.12        747.0
24       89.35       120.17
25       105.2       170.66
26      469.37       747.42
27      187.49       250.89
28      438.72       672.34
29      170.82       241.54
30       69.88       100.72
31      299.77       422.43
32      360.55       548.97
33       58.85       104.76
34       47.13        68.16

# Rough Work

In [ ]:
# si.get_quote_table(ticker)

In [ ]:
# si.get_stats_valuation(ticker)